/* Enter your custom styles here */
.prova{
  margin: auto;
}
.page content{
  border: 3px solid black!important
}
.welcome{
  font-size: larger;
  font-weight: 700;
}
.footer{
  background: #305074!important;
}
